.div {
    flex-basis: 40%;
    margin-bottom: 50px;
}

.div img{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: 250px;
    width:500px;
    object-fit: cover;
    transition: ease-in 0.2s;
   
}
.div img:hover{
    transform: scale(1.1);
    filter: brightness(130%);
}

.div h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.div span {
    text-align: left;
    padding: 10px 20px 10px 20px;
    border: 2px solid orange;
    border-radius: 5px;
    margin-left: -120px;
}
.div button {
    display: inline;
    float: right;
    margin-right: 75px;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-top: -10px;
    cursor: pointer;
    width: 190px;
}



.div p{
    padding-bottom: 10px;
}